@page "/Preventdefaultaction"

<p>
    <input value="@count" @onkeydown="KeyHandler" @onkeydown:preventDefault="shouldPreventDefault" />
</p>

@code {
    private int count = 0;
    private bool shouldPreventDefault = true;

    private void KeyHandler(KeyboardEventArgs e)
    {
        if (e.Key == "+")
        {
            count++;
        }
    }
}