@page "/Timetester"  
  
    @using System.Threading;  
      
    <h3>@TimeHeading</h3>  
  
    Time Tester Counter:   
    <br />  
    <br />  

    <p>
        <label>
            <input @bind="TimeToday" />
        </label> 
        <button @onclick="CountDown">
            Start Countdown
        </button>  
    </p>

    <p>
    <label>
        <input type="checkbox" @onchange="CheckChanged" />
        @checkedMessage
    </label>
    </p>
    

    @code {
        private string TimeHeading = "The time today is. We will countdown on timer now.";
        private string Countdown;
        private string checkedMessage = "The time taken was 1 minute";
        private DateTime TimeToday = new DateTime(2017, 11, 10, 10,10,30);

        private void CountDown() {
            TimeHeading = $"{TimeToday}!!!";
        }
        private void CheckChanged() {
            checkedMessage = $"Last changed at {DateTime.Now}";
        }

}
@* @functions {  
     
    void Countdown()  
    {  
        var timer = new Timer(TimeCallBack, null, 1000, 1000); 
  
    }  
  
    void TimeCallBack(object state)  
    {  
        if (CurrentCount > 0)  
        {  
            CurrentCount--;  
  
            // Note:following line is necessary because Blazor would not recognize the state change hence not refresh the UI  
            this.StateHasChanged();  
        }  
    }  
}   *@
