@page "/Timetester"  
  
    @using System.Threading;  
      
    <h3>@TimeHeading</h3>  
  
    Time Tester Counter:   
    <br />  
    <br />  

    <p>
        <label>
            <input @bind="TimeToday" />
        </label> 
        <button @onclick="ShowTime">
            Show Time
        </button>  
    </p>

    <p>
    <label>
        <input type="checkbox" @onchange="CheckChanged" />
        @checkedMessage
    </label>
    </p>
    

    @code {
        private string TimeHeading = "The time today is. We will countdown on timer now.";
        private string Showtime;
        private string checkedMessage = "The time taken was 1 minute";
        private DateTime TimeToday = new DateTime(2017, 11, 10, 10,10,30);

        @* private void ShowTime() {
            TimeHeading = $"{TimeToday}!!!";
        } *@

        private async Task ShowTime() {
            await Task.Delay(4000);
            TimeHeading = $"{TimeToday}!!!";
        }
        private void CheckChanged() {
            checkedMessage = $"Last changed at {DateTime.Now}";
        }

}